.main__note-section {
    width: 800px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main__note-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
  }
  