/* 
  App.css

  여기에는 프로젝트 내에서 사용되는 글로벌하게 사용될 스타일을 넣으면 된다
  예) <button>이나 <input>의 기본 스타일을 제거해줄 때
*/

html, body {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

textarea, input {
  border: none;
  outline: none;
}
